@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}
header {
  background-color: #000000;
 
}
.imagenPortada{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: -7%;
  }
  

li {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 10px;
  text-decoration: none;
  font-family: "Questrial", sans-serif;
  margin: 1%;
 margin-left: 30%;
  margin-bottom: 10%;
 }
 a:hover {
  transform: scale(1.1);
  color: rgb(255, 216, 44);
}


.navbar {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-top: -1%;
  
}
.switch {
  background: rgb(255, 216, 44);
  border-radius: 1000px;
  border: none;
  position:relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-top: -35px;
  margin-right: 10%;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgb(255, 214, 79);
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch .active {
  background-color: white;
  color: #000000;
}


.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: black;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* aumentar el valor de z-index */
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  cursor: pointer;
  color:white;
  z-index: 20; /* aumentar el valor de z-index */
  font-weight: 600;
}

.nav-branding {
  font-size: 2rem;
}

.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(249, 249, 249);
}
@media (max-width: 768px) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position:absolute;
    left: -100%;
    top: 130px;
    gap: 0;
    flex-direction: column;
    background-color:#000000ee;
    width: 100%;
    text-align: left;
    transition: 0.3s;
  }
  .navbar {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-top: -1%;
    
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}